<!doctype html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>后台管理系统</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/index.css">
        <link rel="stylesheet" href="./css/iconfont.css">
		<link rel="stylesheet" href="./layui/css/layui.css">
		    <link rel="stylesheet" href="./css/main.css">
		    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
        <script src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/index.js"></script>

<style>
	iframe{
		height: 600px;
		width: 1350px;
	}
	.logo{
		font-size: 30px;
	}
	.top_menu{
		float: right;
	}
</style>
    </head>
    <body >
        <!-- 顶部开始 -->
        <div class="layui-layout layui-layout-admin">
            <!-- 顶部 -->
            <div class="layui-header header">
                <div class="layui-main" style="height: 100%;">
                    <a href="#" class="logo">后台管理系统</a>
                    <!-- 显示/隐藏菜单 -->

                    <!-- 顶部右侧菜单 -->
                    <ul class="layui-nav top_menu">
                       
                        
                        <li class="layui-nav-item" pc>
                            <a href="javascript:;">
                                <i class="layui-icon">&#xe612;</i>
                                <cite id="1">
                                    <!--<shiro:principal property="fullname"/>  -->
                                </cite>
                            </a>
                            <dl class="layui-nav-child" style="float:right">
                                <dd><a href="javascript:;" onclick="msg()"><i class="iconfont icon-zhanghu" data-icon="icon-zhanghu"></i><cite>个人资料</cite></a></dd>
								<input type="hidden" id="name" name="name"/>
                                <dd><a href="javascript:;" onclick="upass()"><i class="iconfont icon-shezhi1" data-icon="icon-shezhi1"></i><cite>修改密码</cite></a></dd>
                                <dd><a href="javascript:;" onclick="logout()"><i class="iconfont icon-loginout"></i><cite>退出</cite></a></dd>
                            </dl>
                        </li>
						 <li class="layui-nav-item to-index">
						                    <a href="/">前台首页</a></li>
                    </ul>
                </div>
            </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
       <!-- <div class="left-nav ">
            <div id="side-nav ">
                <ul id="nav">
                    <li>
                        <a href="javascript:;" onclick="xadmin.add_tab('我的桌面','welcome.html')">
                            <i class="layui-icon left-nav-li " lay-tips="首页">&#xe68e;</i>
                            <cite>首页</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>

                    </li>

                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="审核管理">&#xe6a2;</i>
                            <cite>审核管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('文章类型列表','articletype-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>商品列表</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('文章列表','article-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>游记列表</cite></a>
                            </li>
                        </ul>


                    </li> -->
                    <!-- <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="公告管理">&#xe6c0;</i>
                            <cite>公告管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('公告类型','noticetype-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>公告类型</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('公告列表','notice-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>公告列表</cite></a>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="栏目管理">&#xe604;</i>
                            <cite>栏目管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('栏目列表','cate.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>栏目列表</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="城市联动">&#xe723;</i>
                            <cite>城市联动</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('三级地区联动','city.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>三级地区联动</cite></a>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="管理员管理">&#xe726;</i>
                            <cite>管理员管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('管理员列表','admin-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>管理员列表</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('角色管理','admin-role.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>角色管理</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('权限分类','admin-cate.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>权限分类</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('权限管理','admin-rule.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>权限管理</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="会员管理">&#xe6b8;</i>
                            <cite>会员管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">

                            <li>
                                <a onclick="xadmin.add_tab('会员列表','member-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>会员列表</cite></a>
                            </li>

                            <li>
                                <a onclick="xadmin.add_tab('会员删除','member-del.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>会员删除</cite></a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="系统设置">&#xe60d;</i>
                            <cite>系统设置</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('系统设置','sys-set.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>系统设置</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('屏蔽词','sys-shild.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>屏蔽词</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('系统日志','sys-log.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>系统日志</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('图片水印设置','sys-watermark.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>图片水印设置</cite></a>
                            </li>


                        </ul>
                    </li> -->
                    <!-- <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="友情连接">&#xe636;</i>
                            <cite>友情连接</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('友情连接列表','link.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>友情连接列表</cite></a>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="便签管理">&#xe6c5;</i>
                            <cite>便签管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('便签列表','note.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>便签列表</cite></a>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="邮件管理">&#xe64a;</i>
                            <cite>邮件管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('邮件管理','email.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>邮件管理</cite></a>
                            </li>
                        </ul>
                    </li> -->

                    <!-- <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="平台维护">&#xe6b4;</i>
                            <cite>平台维护</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
								 <a href="javascript:;">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>商品管理</cite></a>
									<ul class="sub-menu">
									<li>
									    <a onclick="xadmin.add_tab(' 订单列表','order-list.html')">
									        <i class="iconfont">&#xe6a7;</i>
									        <cite>商品下架</cite></a>
									</li>
									</ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>游记管理</cite></a>
									<ul class="sub-menu">
									<li>
									    <a onclick="xadmin.add_tab('订单列表','order-list.html')">
									        <i class="iconfont">&#xe6a7;</i>
									        <cite>商品下架</cite></a>
									</li>
									</ul>
                            </li>
                            <li>
								<a href="javascript:;">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>首页管理</cite></a>
									<ul class="sub-menu">
									<li>
									    <a onclick="xadmin.add_tab('订单列表','order-list.html')">
									        <i class="iconfont">&#xe6a7;</i>
									        <cite>推荐游记</cite></a>
									</li>
									</ul>
                            </li>
                        </ul>
                    </li> -->


                    <!-- <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="数据管理">&#xe70c;</i>
                            <cite>数据管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('文件管理','instrument.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>文件管理</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('数据库','database.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>数据库</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('备份管理','backups.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>备份管理</cite></a>
                            </li>
                        </ul>
                    </li> -->
                <!-- </ul>
            </div>
        </div> -->
		
		<div class="layui-side layui-bg-black">
		        <div id="side-nav" >
				<div class="navBar"  layui-side-scroll></div>	
				</div>
				
		    </div>
			<div class="page-content-bg"></div>
			<style id="theme_style"></style>
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="layui-body layui-form">
                <!-- 内容主体区域 -->
                <div class="layui-tab marg0" lay-filter="bodyTab" id="top_tabs_box">
                    <ul class="layui-tab-title top_tab" id="top_tabs">
                        <li class="layui-this" lay-id=""><i class="iconfont icon-computer"></i> <cite>后台首页</cite></li>
						</li>
                    </ul>
                    <!-- 当前页面操作 -->
                    <ul class="layui-nav closeBox">
                        <li class="layui-nav-item" pc>
                            <a href="javascript:;"><i class="iconfont icon-caozuo"></i> 页面操作</a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;" class="refresh refreshThis"><i class="layui-icon">&#xe669;</i> 刷新当前</a></dd>
                                <dd><a href="javascript:;" class="closePageOther"><i class="iconfont icon-prohibit"></i> 关闭其他</a></dd>
                                <dd><a href="javascript:;" class="closePageAll"><i class="iconfont icon-guanbi"></i> 关闭全部</a></dd>
                            </dl>
                        </li>
                    </ul>
                    <div class="layui-tab-content clildFrame" style="height: 800px;width: 100%;">
                        <div class="layui-tab-item layui-show" style="width: 100%;height: 100%;">
                            <!--默认嵌入main.html-->
                            <iframe src="./welcome.html" style="width: 100%;height: 100%;"></iframe>
                        </div>
                    </div>
                </div>
        
            </div>
        
        <!-- 右侧主体结束 -->
        <!-- 中部结束 -->

    </body>
    <script src="js/jquery.min.js">
		
	</script>
	<script src="src/app/leftNav.js"></script>

</html>

<script>
    window.onload=function () {
        var click=document.getElementById('new-nav');
        var news=document.getElementById('news');
        click.addEventListener('mousemove',function () {
            news.style.display='block';
        });
        click.addEventListener('mouseout',function () {
            news.style.display='none';
        });

        var gonggao=document.getElementById('gonggao');
        var gonggaos=document.getElementById('gonggaos');
        gonggao.addEventListener('mousemove',function () {
            gonggaos.style.display='block';
        });
        gonggao.addEventListener('mouseout',function () {
            gonggaos.style.display='none';
        });
    }
    $(function () {
        var localStorage=window.localStorage;
        var token=localStorage.getItem("token");
        console.log(token);

        $.ajax({
            type:"get",
            url:"http://localhost:9091/provider-account/account/getbytoken",
            dataType:"json",
            headers:{"token":token},
            success:function (data) {
                if(data.stateCode==401){
                    window.location.href="login.html"
                }else {
                    console.log(data);
					$("#name").val(data.data.accountId);
					$.ajax({
					    type:"get",
					    url:"http://localhost:9091/provider-account/account/admin/"+$("#name").val()+'',
					    dataType:"json",
					    headers:{"token":token},
					    success:function (data,layero, index) {
					        if(data.stateCode==401){
					            window.location.href="login.html"
					        }else {
					            console.log(data);
						$("#1").text(data.username);
							
					        }					
					    }
					})
                }

            }
        })
    });
	function logout() {
		var localStorage=window.localStorage;
		var token=localStorage.getItem("token");
	        window.localStorage.removeItem("token");
			window.location.href="login.html"
	    }
        function msg(){
			var localStorage=window.localStorage;
			var token=localStorage.getItem("token");
			
			$.ajax({
			    type:"get",
			    url:"http://localhost:9091/provider-account/account/getbytoken",
			    dataType:"json",
			    headers:{"token":token},
			    success:function (data) {
			        if(data.stateCode==401){
			            window.location.href="login.html"
			        }else {
			            console.log(data);
						$("#name").val(data.data.accountId);
						$.ajax({
						    type:"get",
						    url:"http://localhost:9091/provider-account/account/admin/"+$("#name").val()+'',
						    dataType:"json",
						    headers:{"token":token},
						    success:function (data,layero, index) {
						        if(data.stateCode==401){
						            window.location.href="login.html"
						        }else {
								layer.open({
								        title: '修改账号信息',
								        type: 2,
								        shade: 0.2,
								        maxmin:true,
								        shadeClose: true,
								        area: ['80%', '80%'],
								        content: '/1/one_set.html',
								        success: function(layero, index){
								var body=layer.getChildFrame('body',index);//少了这个是不能从父页面向子页面传值的
								var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象
								            //获取子页面的元素，进行数据渲染
										   body.contents().find("#id").val(data.id);
								           body.contents().find("#username").val(data.username);
								           body.contents().find("#nickname").val(data.nickname);
										   body.contents().find("#image").val(data.headImgUrl);
										   body.contents().find("#phone").val(data.phone);
										   body.contents().find("#telephone").val(data.telephone);
										   body.contents().find("#email").val(data.email);
										   body.contents().find("#birthday").val(data.birthday);
										   body.find('input[name=sex][value=男]').attr("checked",data.sex==true ? true : false);
										   body.find('input[name=sex][value=女]').attr("checked",data.sex==false ? true : false);
										   body.contents().find("#name").text(data.nickname);
										   }
										   })
						        }					
						    }
						})
			        }
			
			    }
		});
		}
		function upass(){
			var localStorage=window.localStorage;
			var token=localStorage.getItem("token");
			
			$.ajax({
			    type:"get",
			    url:"http://localhost:9091/provider-account/account/getbytoken",
			    dataType:"json",
			    headers:{"token":token},
			    success:function (data) {
			        if(data.stateCode==401){
			            window.location.href="login.html"
			        }else {
			            console.log(data);
						$("#name").val(data.data.accountId);
						layer.open({
						        title: '修改账号密码',
						        type: 2,
						        shade: 0.2,
						        maxmin:true,
						        shadeClose: true,
						        area: ['50%', '50%'],
						        content: '/1/admin-upass.html',
						        success: function(layero, index){
						var body=layer.getChildFrame('body',index);//少了这个是不能从父页面向子页面传值的
						var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象
						            //获取子页面的元素，进行数据渲染
								   body.contents().find("#accountId").val(data.data.accountId);
								   }
								   })
			        }
			
			    }
		});
		}
		layui.config({
			base : "src/app/"
		}).use(['form','element','layer','jquery','bodyTab'],function(){
			var localStorage=window.localStorage;
			var token=localStorage.getItem("token");
			var form = layui.form,
				layer = layui.layer,
				element = layui.element;
				$ = layui.jquery;
				tab = layui.bodyTab({
					openTabNum : "50", //最大可打开窗口数量
					url:"http://localhost:9091/auth/menus/getMenus/"+token
				});
			//退出
			$(".signOut").click(function(){
				window.sessionStorage.removeItem("menu");
				menu = [];
				window.sessionStorage.removeItem("curmenu");
			})
		
			//隐藏左侧导航
			$(".hideMenu").click(function(){
				$(".layui-layout-admin").toggleClass("showMenu");
				//渲染顶部窗口
				tab.tabMove();
			})
			//渲染左侧菜单
			tab.render();
		
			// 添加新窗口
			$("body").on("click",".layui-nav .layui-nav-item a",function(){
				//如果不存在子级
				if($(this).siblings().length == 0){
					addTab($(this));
					$('body').removeClass('site-mobile');  //移动端点击菜单关闭菜单层
				}
				$(this).parent("li").siblings().removeClass("layui-nav-itemed");
			})
		
			//刷新后还原打开的窗口
			if(window.sessionStorage.getItem("menu") != null){
				menu = JSON.parse(window.sessionStorage.getItem("menu"));
				curmenu = window.sessionStorage.getItem("curmenu");
				var openTitle = '';
				for(var i=0;i<menu.length;i++){
					openTitle = '';
					if(menu[i].css){
						if(menu[i].css.split("-")[0] == 'icon'){
							openTitle += '<i class="iconfont '+menu[i].css+'"></i>';
						}else{
							openTitle += '<i class="layui-icon">'+menu[i].css+'</i>';
						}
					}
					openTitle += '<cite>'+menu[i].name+'</cite>';
					openTitle += '<i class="layui-icon layui-unselect layui-tab-close" data-id="'+menu[i].layId+'">&#x1006;</i>';
					element.tabAdd("bodyTab",{
						title : openTitle,
				        content :"<iframe src='"+menu[i].href+"' data-id='"+menu[i].layId+"'></frame>",
				        id : menu[i].layId
					})
					//定位到刷新前的窗口
					if(curmenu != "undefined"){
						if(curmenu == '' || curmenu == "null"){  //定位到后台首页
							element.tabChange("bodyTab",'');
						}else if(JSON.parse(curmenu).name == menu[i].name){  //定位到刷新前的页面
							element.tabChange("bodyTab",menu[i].layId);
						}
					}else{
						element.tabChange("bodyTab",menu[menu.length-1].layId);
					}
				}
				//渲染顶部窗口
				tab.tabMove();
			}
		
			//刷新当前
			$(".refresh").on("click",function(){  //此处添加禁止连续点击刷新一是为了降低服务器压力，另外一个就是为了防止超快点击造成chrome本身的一些js文件的报错(不过貌似这个问题还是存在，不过概率小了很多)
				if($(this).hasClass("refreshThis")){
					$(this).removeClass("refreshThis");
					$(".clildFrame .layui-tab-item.layui-show").find("iframe")[0].contentWindow.location.reload(true);
					setTimeout(function(){
						$(".refresh").addClass("refreshThis");
					},2000)
				}else{
					layer.msg("您点击的速度超过了服务器的响应速度，还是等两秒再刷新吧！");
				}
			})
		
			//关闭其他
			$(".closePageOther").on("click",function(){
				if($("#top_tabs li").length>2 && $("#top_tabs li.layui-this cite").text()!="后台首页"){
					var menu = JSON.parse(window.sessionStorage.getItem("menu"));
					$("#top_tabs li").each(function(){
						if($(this).attr("lay-id") != '' && !$(this).hasClass("layui-this")){
							element.tabDelete("bodyTab",$(this).attr("lay-id")).init();
							//此处将当前窗口重新获取放入session，避免一个个删除来回循环造成的不必要工作量
							for(var i=0;i<menu.length;i++){
								if($("#top_tabs li.layui-this cite").text() == menu[i].title){
									menu.splice(0,menu.length,menu[i]);
									window.sessionStorage.setItem("menu",JSON.stringify(menu));
								}
							}
						}
					})
				}else if($("#top_tabs li.layui-this cite").text()=="后台首页" && $("#top_tabs li").length>1){
					$("#top_tabs li").each(function(){
						if($(this).attr("lay-id") != '' && !$(this).hasClass("layui-this")){
							element.tabDelete("bodyTab",$(this).attr("lay-id")).init();
							window.sessionStorage.removeItem("menu");
							menu = [];
							window.sessionStorage.removeItem("curmenu");
						}
					})
				}else{
					layer.msg("没有可以关闭的窗口了!");
				}
				//渲染顶部窗口
				tab.tabMove();
			})
			//关闭全部
			$(".closePageAll").on("click",function(){
				if($("#top_tabs li").length > 1){
					$("#top_tabs li").each(function(){
						if($(this).attr("lay-id") != ''){
							element.tabDelete("bodyTab",$(this).attr("lay-id")).init();
							window.sessionStorage.removeItem("menu");
							menu = [];
							window.sessionStorage.removeItem("curmenu");
						}
					})
				}else{
					layer.msg("没有可以关闭的窗口了!");
				}
				//渲染顶部窗口
				tab.tabMove();
			})
		})
		
		//打开新窗口
		function addTab(_this){
			tab.tabAdd(_this);
		}
</script>


