<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniuxy.clinic.mapper.PhysiqueMessageMapper" >
  	<insert id="insertPhysiqueMessage">
  		INSERT INTO t_physique_message VALUES (null,#{physiquemessage_animal},
  		#{physiquemessage_breathe},#{physiquemessage_pulse},#{physiquemessage_BP},#{physiquemessage_height},
  		#{physiquemessage_weight},#{physiquemessage_bg},#{physiquemessage_bf})
  	</insert>
  	
  	<select id="selectPhysiqueMessageOther" resultType="Integer">
  		select physiquemessage_id from t_physique_message where physiquemessage_animal=#{physiquemessage_animal} and 
  		physiquemessage_breathe=#{physiquemessage_breathe} and physiquemessage_pulse=#{physiquemessage_pulse} and 
  		physiquemessage_bg=#{physiquemessage_bg} and physiquemessage_bf=#{physiquemessage_bf}
  	</select>
</mapper>