<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniuxy.clinic.mapper.TOutputRecordMapper" >
  <resultMap id="BaseResultMap" type="com.woniuxy.clinic.entity.TOutputRecord" >
    <id column="output_id" property="outputId" jdbcType="INTEGER" />
    <result column="output_sn" property="outputSn" jdbcType="VARCHAR" />
    <result column="output_date" property="outputDate" jdbcType="TIMESTAMP" />
    <result column="output_person" property="outputPerson" jdbcType="VARCHAR" />
    <result column="output_type" property="outputType" jdbcType="VARCHAR" />
    <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="tabulation_date" property="tabulationDate" jdbcType="TIMESTAMP" />
    <result column="tabulation_person" property="tabulationPerson" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    output_id, output_sn, output_date, output_person, output_type, supplier, tabulation_date, 
    tabulation_person, remarks, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.woniuxy.clinic.entity.TOutputRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_output_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_output_record
    where output_id = #{outputId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_output_record
    where output_id = #{outputId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniuxy.clinic.entity.TOutputRecordExample" >
    delete from t_output_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniuxy.clinic.entity.TOutputRecord" >
    insert into t_output_record (output_id, output_sn, output_date, 
      output_person, output_type, supplier, 
      tabulation_date, tabulation_person, remarks, 
      status)
    values (#{outputId,jdbcType=INTEGER}, #{outputSn,jdbcType=VARCHAR}, #{outputDate,jdbcType=TIMESTAMP}, 
      #{outputPerson,jdbcType=VARCHAR}, #{outputType,jdbcType=VARCHAR}, #{supplier,jdbcType=VARCHAR}, 
      #{tabulationDate,jdbcType=TIMESTAMP}, #{tabulationPerson,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.woniuxy.clinic.entity.TOutputRecord" >
    insert into t_output_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="outputId != null" >
        output_id,
      </if>
      <if test="outputSn != null" >
        output_sn,
      </if>
      <if test="outputDate != null" >
        output_date,
      </if>
      <if test="outputPerson != null" >
        output_person,
      </if>
      <if test="outputType != null" >
        output_type,
      </if>
      <if test="supplier != null" >
        supplier,
      </if>
      <if test="tabulationDate != null" >
        tabulation_date,
      </if>
      <if test="tabulationPerson != null" >
        tabulation_person,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="outputId != null" >
        #{outputId,jdbcType=INTEGER},
      </if>
      <if test="outputSn != null" >
        #{outputSn,jdbcType=VARCHAR},
      </if>
      <if test="outputDate != null" >
        #{outputDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outputPerson != null" >
        #{outputPerson,jdbcType=VARCHAR},
      </if>
      <if test="outputType != null" >
        #{outputType,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null" >
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="tabulationDate != null" >
        #{tabulationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tabulationPerson != null" >
        #{tabulationPerson,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniuxy.clinic.entity.TOutputRecordExample" resultType="java.lang.Integer" >
    select count(*) from t_output_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_output_record
    <set >
      <if test="record.outputId != null" >
        output_id = #{record.outputId,jdbcType=INTEGER},
      </if>
      <if test="record.outputSn != null" >
        output_sn = #{record.outputSn,jdbcType=VARCHAR},
      </if>
      <if test="record.outputDate != null" >
        output_date = #{record.outputDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.outputPerson != null" >
        output_person = #{record.outputPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.outputType != null" >
        output_type = #{record.outputType,jdbcType=VARCHAR},
      </if>
      <if test="record.supplier != null" >
        supplier = #{record.supplier,jdbcType=VARCHAR},
      </if>
      <if test="record.tabulationDate != null" >
        tabulation_date = #{record.tabulationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tabulationPerson != null" >
        tabulation_person = #{record.tabulationPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_output_record
    set output_id = #{record.outputId,jdbcType=INTEGER},
      output_sn = #{record.outputSn,jdbcType=VARCHAR},
      output_date = #{record.outputDate,jdbcType=TIMESTAMP},
      output_person = #{record.outputPerson,jdbcType=VARCHAR},
      output_type = #{record.outputType,jdbcType=VARCHAR},
      supplier = #{record.supplier,jdbcType=VARCHAR},
      tabulation_date = #{record.tabulationDate,jdbcType=TIMESTAMP},
      tabulation_person = #{record.tabulationPerson,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniuxy.clinic.entity.TOutputRecord" >
    update t_output_record
    <set >
      <if test="outputSn != null" >
        output_sn = #{outputSn,jdbcType=VARCHAR},
      </if>
      <if test="outputDate != null" >
        output_date = #{outputDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outputPerson != null" >
        output_person = #{outputPerson,jdbcType=VARCHAR},
      </if>
      <if test="outputType != null" >
        output_type = #{outputType,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null" >
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="tabulationDate != null" >
        tabulation_date = #{tabulationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tabulationPerson != null" >
        tabulation_person = #{tabulationPerson,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where output_id = #{outputId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniuxy.clinic.entity.TOutputRecord" >
    update t_output_record
    set output_sn = #{outputSn,jdbcType=VARCHAR},
      output_date = #{outputDate,jdbcType=TIMESTAMP},
      output_person = #{outputPerson,jdbcType=VARCHAR},
      output_type = #{outputType,jdbcType=VARCHAR},
      supplier = #{supplier,jdbcType=VARCHAR},
      tabulation_date = #{tabulationDate,jdbcType=TIMESTAMP},
      tabulation_person = #{tabulationPerson,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where output_id = #{outputId,jdbcType=INTEGER}
  </update>
</mapper>