<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
    <title>后台管理-登陆</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        html, body {width: 100%;height: 100%;overflow: hidden}
        body {background: #1E9FFF;}
        body:after {content:'';background-repeat:no-repeat;background-size:cover;-webkit-filter:blur(3px);-moz-filter:blur(3px);-o-filter:blur(3px);-ms-filter:blur(3px);filter:blur(3px);position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1;}
        .layui-container {width: 100%;height: 100%;overflow: hidden}
        .admin-login-background {width:360px;height:300px;position:absolute;left:50%;top:40%;margin-left:-180px;margin-top:-100px;}
        .logo-title {text-align:center;letter-spacing:2px;padding:14px 0;}
        .logo-title h1 {color:#1E9FFF;font-size:25px;font-weight:bold;}
        .login-form {background-color:#fff;border:1px solid #fff;border-radius:3px;padding:14px 20px;box-shadow:0 0 8px #eeeeee;}
        .login-form .layui-form-item {position:relative;}
        .login-form .layui-form-item label {position:absolute;left:1px;top:1px;width:38px;line-height:36px;text-align:center;color:#d2d2d2;}
        .login-form .layui-form-item input {padding-left:36px;}
        .captcha {width:60%;display:inline-block;}
        .captcha-img {display:inline-block;width:34%;float:right;}
        .captcha-img img {height:34px;border:1px solid #e6e6e6;height:36px;width:100%;}
    </style>
</head>
<body>
<div class="layui-container">
    <div class="admin-login-background">
        <div class="layui-form login-form">
            <form class="layui-form" action="" >
                <div class="layui-form-item logo-title">
                    <h1>找回密码</h1>
                </div>
                
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-username" for="username"></label>
          
                    <input type="text" name="PhoneNumbers" id="PhoneNumbers" lay-verify="PhoneNumbers" lay-vertype="tips" placeholder="输入手机号" autocomplete="off" class="layui-input" >
                     <input type="hidden" id="txt1">
                      <!-- 帐号编号 -->
                     <input type="hidden" name="userId" id="id">
                </div>
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-vercode" for="captcha"></label>
                    <input type="text" name="code" id="code" placeholder="输入验证码" autocomplete="off" class="layui-input verification captcha" >
                    <div class="captcha-img" >
                   <input value="获取验证码" class="layui-btn layui-btn-sm" id="getCode" readonly="readonly" lay-filter="set" style="width: 80px;padding-left:10px" />
                </div><br/>
                </div>
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-password" for="password"></label>
                    <input type="password"  id="LAY_password" lay-verify="pass" lay-vertype="tips" placeholder="输入新密码" autocomplete="off" class="layui-input" >
                </div>
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-password" for="password"></label>
                    <input type="password" name="userPassword" id="txt2" lay-verify="repass" lay-vertype="tips"  placeholder="确认密码" autocomplete="off" class="layui-input" >
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn layui-btn-normal layui-btn-fluid" lay-submit="" lay-filter="setmypass">确认</button>
                </div>
                <div class="layui-form-item" align="center">
                    <a href="/">已有账号，点击登录</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/layuimini/lib/jq-module/jquery.particleground.min.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer;

        // 登录过期的时候，跳出ifram框架
        if (top.location != self.location) top.location = self.location;

        // 粒子线条背景
        $(document).ready(function(){
            $('.layui-container').particleground({
                dotColor:'#7ec7fd',
                lineColor:'#7ec7fd'
            });
        });
    });
    $(function () {
    	$("#PhoneNumbers").blur(function () {
    	var s= $("#PhoneNumbers").val();

    	       $.ajax({
    	           url:"/selectAss",
    	           type:"POST",
    	           dataType:"json",
    	           success:function (data) {
    	               var pos = 1;
    	               for(var i = 0 ;i<data.length;i++){
    	                   if(data[i].userAccount==s){
    	                       pos = 2;
    	                       $("#id").val(data[i].userId);
    	                       break;
    	                   }
    	               }
    	               if(pos==1){
    	                   $("#txt1").val(1);
    	                   layer.msg("手机号不存在!", {icon: 5, time: 1000});
    	               }else if(pos==2){
    	                   $("#txt1").val(2);
    	               }
    	           }
    	       })
    	    })

    	})
    	 layui.use(['form', 'layedit', 'laydate'], function(){
    	    var form = layui.form
    	        ,layer = layui.layer
    	        ,layedit = layui.layedit
    	        ,$=layui.jquery;

    	    //自定义验证规则
    	    form.verify({
    	    	PhoneNumbers:function (value) {
    	            if($("#txt1").val()==1)
    	                return '该手机号不存在';

    	        }
    	        ,repass: function(value){
    	            if(value!=$("#LAY_password").val()){
    	                return '密码不一致';
    	            }
    	        }
    	        
    	    });

    	    $("#code").blur(function () {
    	        var code = $(this).val();
    	        if(code==""){
    	            layer.msg("请输入验证码!", {icon: 2, time: 1000});
    	        }
    	    });

    	    $("#getCode").click(function () {
    	        var PhoneNumbers = $("#PhoneNumbers").val();
    	        if(PhoneNumbers==""){
    	            layer.msg("请输入手机号!", {icon: 2, time: 1000});
    	        }else{
    	            $.post("/sendSms", { "PhoneNumbers": PhoneNumbers},function(data){
    	                if(data==1){
    	                    layer.msg("验证码发送成功!", {icon: 1, time: 1000});
    	                }else{
    	                    layer.msg("验证码发送失败!", {icon: 2, time: 1000})
    	                }
    	            });
    	        }
    	    });

    	      //监听提交
    	     form.on('submit(setmypass)', function(data){
    	          //修改
    	          $.ajax({
    	              url:"/updateFinances",
    	              type:"POST",
    	              data:{
    	                  "code":data.field.code,
    	                  "userId":data.field.userId,
    	                  "userPassword":data.field.userPassword
    	              },
    	              dataType:"json",
    	              success:function (pos) {
    	                  if(pos==404){
    	                      layer.msg('验证码不正确', {icon: 5});
    	                  }else {
    	                      if (pos>0) {
    	                          parent.layer.msg('修改成功', {icon: 6, time: 1000}, function () {
    	                              window.location.href = "/index.html";
    	                          });
    	                      } else {
    	                          layer.msg('修改失败', {icon: 5});
    	                      }
    	                  }
    	              }
    	          });  
    	          return false;  
    	    }); 
    	 });
</script>
</body>
</html>