<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>数据表格</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuimini/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">员工姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="staffname" id="staffname" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">员工工号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="staffCard" id="staffCard" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="button" class="layui-btn" data-type="reload" id="search">搜索</button>
                            <button type="reset" class="layui-btn">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
            </div>
        </script>

        <table class="layui-hide" id="staffList" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script src="/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
<script>
function sotitle(departmentId){
    var dId = departmentId;
    var title;
    $.ajax({
        url:'/selectAlldepartment',//你的后台请求路径
        dataType:'json',
        async: false,//同步
        success:function(data){
                $.each(data,function (index, obj) {
                	
                    if(obj.departmentId==dId){
                        title=obj.departmentName;
                        //console.log(obj.brandId,obj.brandName);
                    }
                });
        }
    });
    
    return title;
    
};
function sortitle(roleId){
    var rId = roleId;
    var title;
    $.ajax({
        url:'/selectAllrole',//你的后台请求路径
        dataType:'json',
        async: false,//同步
        success:function(data){
                $.each(data,function (index, obj) {
                	
                    if(obj.roleId==rId){
                        title=obj.roleName;
                        //console.log(obj.brandId,obj.brandName);
                    }
                });
        }
    });
    
    return title;
    
};
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#staffList',
            url: '/stafflist',
            page:true,
            limit:10,
            limits:[10,20,30],
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [
            	[
                {field: 'staffId', width: 80, title: 'ID', sort: true},
                {field: 'staffCard', width: 80, title: '员工工号', sort: true},
                {field: 'staffName', width: 80, title: '姓名'},
                {field: 'staffSex', width: 80, title: '性别', sort: true},
                {field: 'staffAge', width: 80, title: '年龄'},
                {field: 'staffPhone', title: '手机号', width: 120},
                {field: 'staffTime', width:200, title: '创建时间', sort: true},
                {field: 'departmentId',title: '所属科室', width: 120,  templet:'<div>{{sotitle(d.departmentId)}}</div>'},
                {field: 'roleId',title: '角色', width: 120 ,  templet:'<div>{{sortitle(d.roleId)}}</div>'},
                {field: 'staffStatus', width: 135, title: '状态', sort: true},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            	]
            ],
            parseData:function (result) {//result是服务器端响应的数据
                return {
                    code:result.code ==200?0:result.code(),
                    msg:result.message,
                    data:result.data.list,
                    count:result.data.total
                }
            }
        });

         // 监听搜索操作
        $('#search').on('click', function () {
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
       }); 
        var $ = layui.$, active = {
        	    reload: function () {
        	        var staffname = $('#staffname');
        	       
                	        //执行重载
        	        table.reload('staffList', {
        	            page: {
        	                curr: 1 //重新从第 1 页开始
        	            }
        	            , where: {
        	                staffname: staffname.val(),
        	                staffCard: $('#staffCard').val()
        	            }
        	        }, 'data');
        	    }
        	};

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
        	var data = obj.data;
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加员工',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/page/user_module/tableEdit/staffadd.html',
                    success: function(layero, index){
                        var body=layer.getChildFrame('body',index);//少了这个是不能从父页面向子页面传值的
            　　　　　　　　 var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象
                  //为弹框页面科室下拉框赋值
        		    $.ajax({
        				url : '/selectAlldepartment',
        				dataType : 'json',
        				type : 'post',
        				success : function(data) {
        					$.each(data, function(index, item) {			
        							body.find('#depratmentId').append($("<option>").attr("value",item.departmentId).text(item.departmentName));
        					});
        					iframeWin.layui.form.render("select");
        				}
        			});
        		    //为弹框页面角色下拉框赋值
        		    $.ajax({
        				url : '/selectAllrole',
        				dataType : 'json',
        				type : 'post',
        				success : function(data) {
        					$.each(data, function(index, item) {
        							body.find('#roleId').append($("<option>").attr("value",item.roleId).text(item.roleName));
        					});
        					iframeWin.layui.form.render("select");
        				}
        			});
                    }
                });
            
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
        });

      

        table.on('tool(currentTableFilter)', function (obj) {
            var data1 = obj.data;
            if (obj.event === 'edit') {

                var index = layer.open({
                    title: '修改员工信息',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/page/user_module/tableEdit/staffedit.html',
                    success: function(layero, index){
                        var body=layer.getChildFrame('body',index);//少了这个是不能从父页面向子页面传值的
            　　　　　　　　 var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象
                        //获取子页面的元素，进行数据渲染
                        body.contents().find("#staffId").val(data1.staffId);
                       
            　　　　　　　body.contents().find("#staffCard").val(data1.staffCard);
            　　　　　　  body.contents().find('#staffName').val(data1.staffName);　　
            　　　　　　　body.contents().find('#staffAge').val(data1.staffAge);
            body.contents().find('#staffPhone').val(data1.staffPhone);
            body.find('input[name=Sex][value=男]').attr("checked",data1.staffSex=='男' ? true : false);
		    body.find('input[name=Sex][value=女]').attr("checked",data1.staffSex=='女' ? true : false);
		    body.find('input[name=Status][value=在职]').attr("checked",data1.staffStatus=='在职' ? true : false);
		    body.find('input[name=Status][value=停职]').attr("checked",data1.staffStatus=='停职' ? true : false);

		  //为弹框页面科室下拉框赋值
		    $.ajax({
				url : '/selectAlldepartment',
				dataType : 'json',

				type : 'post',
				success : function(data) {
					$.each(data, function(index, item) {
						if (item.departmentId == data1.departmentId) {
							body.find('#depratmentId').append($("<option>").attr("value",item.departmentId).attr("selected","selected").text(item.departmentName));
						}else  {
							body.find('#depratmentId').append($("<option>").attr("value",item.departmentId).text(item.departmentName));
						}
					});
					iframeWin.layui.form.render("select");
				}
			});
		    //为弹框页面角色下拉框赋值
		    $.ajax({
				url : '/selectAllrole',
				dataType : 'json',

				type : 'post',
				success : function(data) {
					$.each(data, function(index, item) {
						if (item.roleId == data1.roleId) {
							body.find('#roleId').append($("<option>").attr("value",item.roleId).attr("selected","selected").text(item.roleName));
						}else  {
							body.find('#roleId').append($("<option>").attr("value",item.roleId).text(item.roleName));
						}
					});
					iframeWin.layui.form.render("select");
				}
			});
		  }
	});

                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            }
        });
        


    });
</script>

</body>
</html>