<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>订单详细信息查看</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layuimini/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuimini/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
        h1{
        	color: rgb(100,100,232);
        	font-weight: 900;
        	font-size: 30px;
        }
        .myLabel{
        	margin-bottom: 5px;
        	font-size: 20px;
        	margin-left: 35px
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" action="">
        	<h1>订单信息</h1>
	            <div class="layui-form-item">
	                <div class="layui-inline">
	                    <div class="myLabel">订单编号:[[${order.order_sn}]]</div>
	                </div>
	                <div class="layui-inline">
	                    <div class="myLabel">订单类型:[[${order.order_type}]]</div>
	                </div>
	                <div class="layui-inline">
	                    <div class="myLabel">科室:[[${order.department}]]</div>
	                </div>
	                <div class="layui-inline">
	                    <div class="myLabel">操作员:[[${order.doctor}]]</div>
	                </div>
	                <div class="layui-inline">
	                    <div class="myLabel">创建日期:[[${order.createdate}]]</div>
	                </div>
	                <div class="layui-inline">
	                    <div class="myLabel">金额:[[${order.order_money}]]元</div>
	                </div>
	              <!--   <div class="layui-inline">
	                    <div class="myLabel">支付方式:[[${order.pay_mode}]]</div>
	                </div> -->
	            </div>
	       <h1>患者信息</h1>
	            <div class="layui-form-item">
	                <div class="layui-inline">
	                    <div class="myLabel">患者编号:[[${patient.patient_sn}]]</div>
	                </div>
	                <div class="layui-inline">
	                    <div class="myLabel">患者姓名:[[${patient.patient_name}]]</div>
	                </div>
	                <div class="layui-inline">
	                    <div class="myLabel">患者年龄:[[${patient.patient_age}]]</div>
	                </div>
	                <div class="layui-inline">
	                    <div class="myLabel">患者电话:[[${patient.patient_phone}]]</div>
	                </div>
	                <div class="layui-inline">
	                    <div class="myLabel">患者卡号:[[${patient.patient_card}]]</div>
	                </div>
	            </div>
        	 <h1>药品信息</h1>
	         	<span th:each="medicine:${medicines}">
	         		<div class="layui-form-item">
	                <div class="layui-inline">
	                    <div class="myLabel">药品名称:[[${medicine.tDrug.name}]]</div>
	                </div>
	                <div class="layui-inline">
	                    <div class="myLabel">单价:[[${medicine.tDrug.retail_amount}]]</div>
	                </div>
	                <div class="layui-inline">
	                    <div class="myLabel">总量:[[${medicine.order_medicine_number}]]</div>
	                </div>
	                <div class="layui-inline">
	                    <div class="myLabel">合计金额:[[${medicine.order_medicine_total}]]</div>
	                </div>
	            </div>
	         	
	         	</span>
        </form>
    </div>
</div>
<script th:src="@{/layuimini/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

      //参数data就是表单中的数据
        form.on('submit(saveDrugInfo)',function (data) {
            //data.field;//当前容器的全部表单字段，名值对形式：{name: value}

            $.ajax({
                url:'/pharmacy/saveDrugInfo',
                data:data.field,
                dataType:'json',
                type:'post',
                success:function(result){
                    if(result.code == 200){
                        layer.msg('保存成功',{icon:1,time:1000},function () {
                            top.layer.closeAll("iframe");//关闭窗口
                            parent.location.reload();//从新加载数据
                        })
                    }else{
                        layer.msg(result.message,{icon:5});
                    }
                }
            })
            return false;
        })

    });
</script>
</body>
</html>