<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>数据表格</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" th:href="@{/layuimini/lib/layui-v2.5.5/css/layui.css}" media="all">
<link rel="stylesheet" th:href="@{/layuimini/css/public.css}" media="all">

<!-- 引入data日期组件 -->
<script th:src="@{/layui/laydate/laydate.js} " charset="utf-8"></script>
<script th:src="@{/layuimini/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
</head>
<body>

	<!-- 编写模板 -->
	<script id="demo" type="text/html">
		<form class="layui-form layui-form-pane" action="">
			<div class="layui-form-item">
				<div class="layui-inline"  > 
					<label class="layui-form-label">患者姓名</label>
					<div class="layui-input-inline">
						<input type="text" value="{{data.tregistration.tpatient.patient_name}}" placeholder="患者姓名"  name="email" lay-verify="email" autocomplete="off" class="layui-input">
						<i class="layui-icon layui-icon-search" style="position: absolute; top: 8px; right: 20px;" ></i>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">患者卡号</label>
					<div class="layui-input-inline">
						<input type="text" value="{{data.tregistration.tpatient.patient_card}}" placeholder="请输入病人卡号" name="email" lay-verify="number" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">患者年龄</label>
					<div class="layui-input-inline">
						<input type="text" value="{{data.tregistration.tpatient.patient_age}}" placeholder="请输入患者年龄" name="email" lay-verify="email" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">出生日期</label>
					<div class="layui-input-inline">
						<input id="date" type="text" value="{{data.tregistration.tpatient.patient_birthday}}" name="date" lay-verify="email" autocomplete="off" class="layui-input" /> 
						<i class="layui-icon layui-icon-gift" style="position: absolute; top: 8px; right: 8px;"></i>
					</div>
				</div>
			</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">性别</label>
						<div class="layui-input-block" style="width: 190px;">
							<select name="interest" lay-filter="aihao">
								{{#  if(data.tregistration.tpatient.patient_gender === 0 ){ }}
									<option value="男" >男</option>
								{{#  } }}
								{{#  if(data.tregistration.tpatient.patient_gender === 1 ){ }}
									<option value="女" >女</option>
								{{#  } }}
								{{#  if(data.length === 0 ){ }}
									<option value="0">男</option>
									<option value="1">女</option>
									<option value="2">未知</option>
								{{#  } }}
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label style="margin-left: 10px;" class="layui-form-label">电话号码</label>
						<div class="layui-input-inline">
							<input type="text" value="{{data.tregistration.tpatient.patient_phone}}" placeholder="请输入手机号码" name="email" lay-verify="email" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">证件号码</label>
						<div class="layui-input-inline">
							<input type="tel" value="{{data.tregistration.tpatient.patient_number}}" placeholder="请输入证件号码" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
						</div>
					</div>
						<div class="layui-inline">
							<label class="layui-form-label">接诊类型</label>
							<div class="layui-input-block" style="width: 190px;">
								<select name="interest" lay-filter="aihao">
									{{#  if(data.tregistration.reception_type != null ){ }}
										<option value="{{data.tregistration.reception_type}}" >{{data.tregistration.reception_type}}</option>
									{{#  } }}
									{{#  if(data.length === 0 ){ }}
										<option value="0" selected="">初诊</option>
										<option value="1">复诊</option>
									{{#  } }}
								</select>
							</div>
						</div>
					</div>

				<!-- 三址联动 -->
				<div class="layui-form">
					<div class="layui-form-item" id="area-picker">
						<div class="layui-form-label">地址</div>
							<div class="layui-input-inline" style="width: 200px;">
								<select name="province" class="province-selector" data-value="广东省"  lay-filter="province-1">
										<option value="">请选择省</option>
										<option value="浙江" selected="">浙江省</option>
										<option value="你的工号">江西省</option>
										<option value="你最喜欢的老师">福建省</option>
									</select>
								</div>
								<div class="layui-input-inline" style="width: 200px;">
									<select name="city" class="city-selector" data-value="深圳市"
										lay-filter="city-1">
										<option value="">请选择市</option>
										<option value="杭州">杭州</option>
										<option value="宁波" disabled="">宁波</option>
										<option value="温州">温州</option>
										<option value="温州">台州</option>
										<option value="温州">绍兴</option>
									</select>
								</div>
								<div class="layui-input-inline" style="width: 200px;">
									<select name="county" class="county-selector" data-value="龙岗区"
										lay-filter="county-1">
										<option value="">请选择县/区</option>
										<option value="西湖区">西湖区</option>
										<option value="余杭区">余杭区</option>
										<option value="拱墅区">临安市</option>
									</select>
								</div>
							</div>
						</div>
						
						<div class="layui-form-item">
							<div class="layui-inline">
								<label class="layui-form-label">诊断</label>
								<div class="layui-input-inline" style="width: 515px;">
									<select name="modules" lay-verify="required" lay-search="">
										<option value="">通过关键字可查询相关诊断信息</option>
										<option value="1">流行性出热血</option>
										<option value="2">急性气支管炎</option>
										<option value="3">上呼吸感染</option>
										<option value="4">咽炎</option>
										<option value="5">急性肠胃炎</option>
										<option value="6">月经不调</option>
										<option value="7">急性扁桃体炎</option>
										<option value="8">流行性乙型脑炎</option>
										<option value="9">白喉</option>
										<option value="10">脑膜炎</option>
									</select> <i class="layui-icon layui-icon-search"
										style="position: absolute; top: 8px; right: 20px;"></i>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label">医嘱</label>
								<div class="layui-input-inline" style="width: 515px;">
									<select name="modules" lay-verify="required" lay-search="">
										<option value="">通过关键字可查询相关医嘱</option>
										<option value="1">低盐低糖饮食</option>
										<option value="2">忌辛冷等食物</option>
										<option value="3">忌受凉吹风</option>
										<option value="4">少糖</option>
										<option value="5">忌熬夜忌饮酒</option>
										<option value="6">多喝开水</option>
										<option value="7">忌辛辣</option>
									</select> <i class="layui-icon layui-icon-search"
										style="position: absolute; top: 8px; right: 20px;"></i>
								</div>
							</div>
						</div>
					</form>
	</script>
	
	<!-- 建立模板 -->
	<script id="test" type="text/html">	
		{{#  layui.each(d, function(index, item){ }}
		<div  class="grid-demo grid-demo-bg2" style="height: 30px; margin-top: 10px; ">
			<span data-drug="num1" style="font-size: 17px; padding-left: 5px; padding-top: 10px;">{{index+1}}</span>
			<span data-drug="num2" style="font-size: 17px; padding-left: 40px; padding-top: 10px;">{{item.drug_sn}}</span>
			<span data-drug="name" style="font-size: 17px; padding-left: 20px; padding-top: 10px;">{{item.name}}</span>
			<span style="font-size: 17px; padding-left: 40px; padding-top: 10px;">
				<select data-drug="drugmassage_dose" name="modules" lay-verify="required" lay-search="" style="width: 90px; height: 28px;">
					<option value="一片">一片</option>
					<option value="两片">两片</option>
					<option value="三片">三片</option>
					<option value="四片">四片</option>
					<option value="五片">五片</option>
					<option value="六片">六片</option>
					<option value="七片">七片</option>
				</select>
				
			</span>
			<span style="font-size: 17px; padding-left: 10px; padding-top: 10px;"> 
				<select data-drug="drugmassage_use" name="modules" lay-verify="required" lay-search="" style="width: 90px; height: 28px;">
					<option value="口服">口服</option>
					<option value="静脉注射">静脉注射</option>
					<option value="注射药物">注射药物</option>
					<option value="检查">检查</option>
					<option value="皮试">皮试</option>
					<option value="外用">外用</option>
					<option value="物化">物化</option>
				</select>
			</span>
			<span style="font-size: 17px; padding-left: 2px; padding-top: 10px;">
				<select data-drug="drugmassage_fqt" name="modules" lay-verify="required" lay-search="" style="width: 100px; height: 28px;">
					<option value="一天1次">一天1次</option>
					<option value="一天2次">一天2次</option>
					<option value="一天3次">一天3次</option>
					<option value="一天4次">一天4次</option>
					<option value="2小时一次">2小时一次</option>
					<option value="4小时一次">4小时一次</option>
					<option value="6小时一次">6小时一次</option>
				</select>
			</span> 
			<span style="font-size: 17px; padding-left: 3px; padding-top: 10px;">
				<select data-drug="drugmassage_date" name="modules" lay-verify="required" lay-search="" style="width: 50px; height: 28px;">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
				</select>
			</span>
			<span style="font-size: 17px; width: 40px; padding-left: 2px; padding-top: 10px;">
				<input data-drug="drugmassage_total" type="text" value="1" style="width: 40px; height: 24px; text-align: center;" name="email" lay-verify="email" autocomplete="off">
			</span> 
			<span style="font-size: 17px; padding-top: 10px;"> 
				<span style="font-size: 17px; width: 40px; padding-left: 5px; padding-top: 10px;">
					<input data-drug="drugmassage_type" value="{{item.retail_amount}}" type="text" style="width: 40px; height: 24px; text-align: center;" name="email" lay-verify="email" autocomplete="off">
				</span>
			</span>
		</div>
		{{#  }); }}
	</script>
	
	<fieldset class="layui-elem-field layui-field-title"
		style="margin-top: 20px;">
		<legend style="color: #FFB800;">新开就诊</legend>      
	</fieldset>

	<div class="layuimini-container">
		<div class="layuimini-main">
			<fieldset class="table-search-fieldset">
				<legend>基本信息</legend>
				<div style="margin: 10px 10px 10px 10px" id="patient_name_view">
					<!-- 建立试图 -->
					
					<!-- 地址三联 -->
					<script>
						//配置插件目录
						layui.config({
							base : './mods/',
							version : '1.0'
						});
						//一般直接写在一个js文件中
						layui
								.use(
										[ 'layer', 'form', 'layarea' ],
										function() {
											var layer = layui.layer, form = layui.form, layarea = layui.layarea;

											layarea.render({
												elem : '#area-picker',
												change : function(res) {
													//选择结果
													console.log(res);
												}
											});
										});
					</script>

					<script>
						// 渲染表单
						layui.use('form', function() {
							var form = layui.form;
						});

						// 日期
						laydate.render({
							elem : '#date',
							calendar : true,
							theme : 'grid',
						});
					</script>
				</div>
			</fieldset>
		</div>
	</div>
	<br />
	<br />
	<!-- 其他数据 -->
	<div class="layui-container" style="width: 2500px; margin-left: 100px;">
		<div class="layui-row">
			<div class="layui-col-md7">
				<div class="layui-row grid-demo grid-demo-bg1"  >
					<div class="layui-col-md12" id="view">
						<div class="grid-demo">
		<div class="layui-input-inline" style="width: 120px; height: 40px;">
			<select style="height: 30px; margin-top: 5px; margin-left: 12px;" name="modules" lay-verify="required" lay-search="">
				<option value="">添加处方</option>
				<option value="1">西/成药处方</option>
				<option value="2">中药处方</option>
				<option value="3">检查项目</option>
			</select>
		</div>
	</div>
</div>
<div class="layui-col-md7"
	style="padding-left: 10px; height: 500px; background-color: mintcream;">
	<div class="grid-demo grid-demo-bg2" style="margin-top: 10px; margin-left: 10px;">
		<b><span style="font-size: 40px; color: #1E9FFF;">Rp</span></b>
	</div>
	<div class="grid-demo grid-demo-bg2"
		style="background-color: #93D1FF; height: 50px; margin-top: 10px; margin-left: 10px;">
		<span
			style="font-size: 17px; padding-left: 5px; padding-top: 10px;">序号</span>
		<span
			style="font-size: 17px; padding-left: 8px; padding-top: 10px;">组号</span>
		<span
			style="font-size: 17px; padding-left: 20px; padding-top: 10px;">名称</span>
		<span
			style="font-size: 17px; padding-left: 60px; padding-top: 10px;">单次用量</span>
		<span
			style="font-size: 17px; padding-left: 10px; padding-top: 10px;">用法</span>
		<span
			style="font-size: 17px; padding-left: 50px; padding-top: 10px;">频度</span>
		<span
			style="font-size: 17px; padding-left: 50px; padding-top: 10px;">天数</span>
		<span
			style="font-size: 17px; padding-left: 10px; padding-top: 10px;">总量</span>
		<span
			style="font-size: 17px; padding-left: 15px; padding-top: 10px;">单价</span>
	</div>
	
	<div id="view" class="grid-demo grid-demo-bg2" style="height: 300px; margin-top: 10px; margin-left: 10px;">
		
			<!-- 试图建立 -->
		
	</div>
	
	
	<div class="layui-col-md2" style="margin-top: 10px; height: 60px;">
		<i class="layui-icon layui-icon-add-circle-fine"
			style="position: absolute; top: 20px; right: 85px;"></i> <input
			type="button" class="layui-btn layui-btn-normal"
			style="margin-left: 10px; margin-top: 10px;" value="附加费用" />
	</div>
	<div class="layui-col-md1"
		style="margin-left: -10px; margin-top: 10px; height: 60px;">
		<span class="layui-btn layui-bg-gray"
			style="margin-left: 10px; margin-top: 10px;">科室</span>
	</div>
	<div class=" layui-col-md2 layui-input-inline"
		style="margin-left: 10px; margin-top: 10px; height: 60px;">
		<select style="margin-left: 10px; margin-top: 10px; height: 38px; width: 80px;" name="modules" lay-verify="required" lay-search="">
			<option value="1">骨科</option>
			<option value="2">全科</option>
			<option value="3">儿科</option>
		</select>
	</div>

	<div class="layui-col-md1"
		style="margin-left: -29px; margin-top: 10px; height: 60px;">
		<span class="layui-btn layui-bg-gray"
			style="margin-left: 10px; margin-top: 10px;">接诊医生</span>
	</div>
	<div class=" layui-col-md2 layui-input-inline"
		style="margin-left: 38px; margin-top: 10px; height: 60px;">
		<select
			style="margin-left: 10px; margin-top: 10px; height: 38px; width: 80px;"
			name="modules" lay-verify="required" lay-search="">
			<option value="1">王阳明</option>
			<option value="2">王富贵</option>
			<option value="3">薛诏</option>
		</select>
	</div>
	<div class="layui-col-md1"
		style="margin-left: -35px; margin-top: 10px; height: 60px;">
		<span class="layui-btn "
			style="padding-left: 10px; margin-top: 10px;"> 此方合计:<span>50</span>元;共<span>3</span>个处方,共计:<span>150</span>元
		</span>
	</div>
					</div>
					<!-- 药品信息 -->
					<div class="layui-col-md5" style="height: 500px; padding-left: 8px">
						<table class="layui-hide" id="testsssss" lay-filter="test"></table>
						<script type="text/html" id="toolbarDemo">
  						<div class="layui-btn-container">
    						<button class="layui-btn layui-btn-sm" lay-event="getCheckData">选定</button>
  						</div>
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input style="margin-left:820px ;" id="btn" class="layui-btn layui-btn-warm" type="button" lay-verify="email" value="生成药品清单" autocomplete="off" >
	<!-- 渲染模板 -->
	<script>
		layui.use([ 'table', 'jquery', 'layer', 'form', 'laypage',
								'laytpl', 'laydate' ],
						function() {
							var table = layui.table, form = layui.form, $ = layui.jquery, laypage = layui.laypage, layer = layui.layer, laytpl = layui.laytpl, laydate = layui.laydate;
							table.render({
							    elem: '#testsssss'
							    ,url:'[[@{/stock}]]'
							    ,fixed: 'right'
							    ,width: 461
							    ,height: 500
							    ,toolbar: '#toolbarDemo'
							    ,cols: [
							    	[
							      {type:'checkbox'}
							      ,{field:'durg.name', width:80, title: '名称', templet:function(d){return d.drug.name; }  }
							      ,{field:'data.drug.specification', width:80, title: '规格', templet:function(d){return d.drug.specification; } }
							      ,{field:'type', width:80, title: '类型', sort: true , templet:function(d){return d.drug.type; } }
							      ,{field:'data.retail_amount', width:80, title: '价格' , templet:function(d){return d.drug.retail_amount; }}
							      ,{field:'stock_amount', width:80, title: '库存'}
							   			]
							    	]
							   ,page: true
							  	,response: {
							        statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
							    }
							  });
							  
							  //头工具栏事件
							  table.on('toolbar(test)', function(obj){
							    var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
							    switch(obj.event){
							      case 'getCheckData':
							        var data = checkStatus.data;  //获取选中行数据       
							        layer.alert(JSON.stringify(data));
									data = JSON.stringify(data);
							        console.log(data);   
							        // 将数据传入后台通过相应的json格式实现交互 							   		
							        $.ajax({
										  url: "[[@{/prescription}]]",
										  contentType:"application/json;charset=utf-8",
										  type:"post",
										  data:data,
										  success: function(data){
											 	console.log(data);
												var getTpl = test.innerHTML,
											    view = document.getElementById('view');
											   	laytpl(getTpl).render(data, function (html) {
											    	view.innerHTML = html;
											    	//之前在表单中设置的默认值
											    	$("#view").find("input[name='cycle']").val("1000");
											    });
											   	form.render();
										  }
									});
							    };
							  });
							
							
							$.post('[[@{/case}]]',
									null,
									function(resp) {
										if (resp.state = 200) {
										// 模板渲染
										data = resp;
										var getTpl = demo.innerHTML, view = document.getElementById('patient_name_view');
										laytpl(getTpl).render(data,function(html) {
											view.innerHTML = html;
										});
										form.render() //全部刷新
									}
							});
							
							$(function(){
								$("#btn").click(function(){
									var item=$("#view").children();
									var drugs=[];
									for(var i=0;i<item.length;i++){
										var drug={};
										var $item=$(item[i]);
										drug.num1=($item.find("[data-drug='num1']").html());
										drug.num2=($item.find("[data-drug='num2']").html());
										drug.name=($item.find("[data-drug='name']").html());
										drug.drugmassage_dose=($item.find("[data-drug='drugmassage_dose']").val());										
										drug.drugmassage_use=($item.find("[data-drug='drugmassage_use']").val());
										drug.drugmassage_fqt=($item.find("[data-drug='drugmassage_fqt']").val());
										drug.drugmassage_date=($item.find("[data-drug='drugmassage_date']").val());
										drug.drugmassage_type=($item.find("[data-drug='drugmassage_type']").val());
										drugs.push(drug);
									};
									var data=JSON.stringify(drugs);
									console.log('data=',data);
									$.ajax({
										  url: "[[@{/drugmassage}]]",
										  contentType:"application/json;charset=utf-8",
										  type:"post",
										  data:data,
										  success: function(data){
											 alert(data);
										  }
									});
								});
							});
						});
	</script>




</body>
</html>